<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block content %}{% endblock %}</title>
    <style>
        img{
            height:150px;
            width:auto;
        }
        #nav a {
            margin-bottom: 20px;
        }
        #nav a{
            margin-right: 15px;
            color: #333;
        }
        #nav a:hover{
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>First Flask Project</h1>
    <div id="nav">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </div>
    {% block body %}{% endblock %}
</body>
</html>